<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homework 4 - {{ title }}</title>
    <link rel="stylesheet" href="../static/content/site.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../static/scripts/myJs.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Images Tornado</h1>
            <form class="form-signin">
                <input type="name" name="searchTab" id="searchTab" class="form-control" placeholder="Search for images..." required autofocus>
                <input id="btnSearch" type="submit" value="Search">
            </form>
        </div>
        <div id="imagesRes"></div>
    </div>
</body>
</html>